#encabezado{
    height: 60px;
    width: 100%;
    background-color:darkgoldenrod;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
}

#cotizacion{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex: wrap;
    text-align: center;
    color:brown;
}

#formulario{
    border-style::double;
    width: 20em;
    height: 26em;
    justify-content: center;
    align-items: center;
    background-color::content;
    display: flex;
    flex-wrap: wrap;
}

input{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    height: 1.5em;
    width: 16em;

}

label{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: 400;
}

button{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 8%;
    margin-bottom: 4%;
    background-color:darkgoldenrod;
    color: white;
    
}

select{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 15%;
    margin-right: 15%;
}

